<body> 
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://vejario.abril.com.br/wp-content/uploads/2017/09/olgamiltsova_istock.jpg?quality=70&strip=info" alt="Lavanda">
            <div class="carousel-caption d-none d-md-block">
                <h5>Lavanda Francesa</h5>
                <p>O óleo essencial de lavanda é um profundo relaxante para as noites de sono.</p>
            </div>
          </div>
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://vejario.abril.com.br/wp-content/uploads/2017/09/olgamiltsova_istock.jpg?quality=70&strip=info" alt="Flores Silvestres">
            <div class="carousel-caption d-none d-md-block">
                <h5>Lavanda Francesa</h5>
                <p>O óleo essencial de lavanda é um profundo relaxante para as noites de sono.</p>
            </div>
        </div>
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://vejario.abril.com.br/wp-content/uploads/2017/09/olgamiltsova_istock.jpg?quality=70&strip=info" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Lavanda Francesa</h5>
                <p>O óleo essencial de lavanda é um profundo relaxante para as noites de sono.</p>
            </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
</body>