<body> 
    <h2>Registrar Novo Titulo</h2>
    <form action="/" method="POST">
        <div class="form-group">
          <label for="inputNomeCientifico">Nome Científico</label>
          <input type="text" class="form-control" id="inputNomeCientifico" placeholder="Nome Científico">
        </div>
        <div class="form-group">
          <label for="inputNomePopular">Nome Popular</label>
          <input type="text" class="form-control" id="inputNomePopular" placeholder="Nome Popular">
        </div>
        <div class="form-group">
          <label for="inputPropriedadeTerapeutica">Propriedade Terapeutica</label>
          <input type="text" class="form-control" id="inputPropriedadeTerapeutica" placeholder="Propriedade Terapeutica">
        </div>
        <div class="form-group">
          <label for="inputUtilizacao">Forma de Uso</label>
          <input type="text" class="form-control" id="inputUtilizacao" placeholder="Forma de Uso">
        </div>
        <div class="form-group">
          <label for="inputMetodoExtracao">Método de Extração</label>
          <input type="text" class="form-control" id="inputMetodoExtracao" placeholder="Método de extração">
        </div>
        <div class="form-group">
          <label for="inputRegiaoOrigem">Região de origem</label>
          <input type="text" class="form-control" id="inputRegiaoOrigem" placeholder="Região de origem">
        </div>     
        <div class="form-group">
          <label for="inputMlPorKg">ml Extração p/ Kg</label>
          <input type="number" class="form-control" id="inputMlPorKg" placeholder="ml por Kg de material">
        </div>     
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>