<body>
    <h2>Choose a plant for update</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome Pupular</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% plants.forEach(function(data){ %>
        <tr>
          <th scope="row"><%=data.id%></th>
          <td><%=data.popularName%></td>
          <td>
            <a href="<%=`update/${data._id}?_method=GET`%>"
           onclick="return confirm('Proseguir com a atualização deste item?')">Update</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
</body>