<body>
    <h2>View a Title</h2>
    <form action="/plants/view/" method="GET">
        <div class="form-group">
          <label for="plantID">Plant ID</label>
          <input type="text" class="form-control" id="plantID" placeholder="Plant ID">
        </div>     
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>